Planted by #{planting.owner.login_name}
- if planting.quantity.present?
  %p
    %small
      Quantity:
      = planting.quantity

- if planting.planted_at.present?
  %p
    %small
      Planted:
      = planting.planted_at.to_s

= render 'plantings/badges', planting: planting

- if planting.finished?
  %p Finished
